<%= simple_form_for [@house] do |f| %>

  <h4>Intérieur du bien</h4>
  <%= f.input :surface_living, label: 'Surface habitable d environ' %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.input :nb_rooms, label: 'Nombre de pièces'%>
    </div>
    <div class="col-xs-3">
      <%= f.input :nb_bedrooms, label: 'Chambre'%>
    </div>
    <div class="col-xs-3">
      <%= f.input :nb_livingrooms, label: 'Séjour'%>
    </div>
    <div class="col-xs-3">
      <%= f.input :nb_diningrooms, label: 'Cuisine'%>
    </div>
  </div>
  <%= f.input :equiped_kitchen, label: 'Cuisine équipée'%>

  <h4>Extérieur du bien</h4>
  <%= f.input :created_at, label: 'Année de construction à verifier'%>
  <%= f.input :surface_total, label: 'Surface du terrain'%>
  <%= f.input :nb_balconies, label: 'Terrasse à verifier'%>
  <%= f.input :nb_balconies, label: 'Balcon'%>

  <%= f.submit 'save' %>
<% end %>

<script>
  const getNumberOfRooms = (surface) => {
    let array = [];
    if (surface <= 50) {
      array = [2,1,1,1]
    }
    else if (surface <= 90) {
      array = [4,2,1,1]
    }
    else if (surface <= 130) {
      array = [6,3,2,1]
    }
    else {
     array = [6,3,2,2]
    }
    return array;
  }

  const populateForm = (array) => {
    document.querySelector("#house_nb_rooms").value = array[0];
    document.querySelector("#house_nb_bedrooms").value = array[1];
    document.querySelector("#house_nb_livingrooms").value = array[2];
    document.querySelector("#house_nb_diningrooms").value = array[3];
  }

  document.querySelector("#house_surface_living").addEventListener("blur", (ev) => {
    value = ev.target.value
    populateForm(getNumberOfRooms(value));
  })

</script>
