<%= simple_form_for [@house] do |f| %>
<h4>Désignation du bien</h4>

  <%= f.input :house_type, label: 'Type de bien', input_html: { :class => 'hidden' } %>
  <div>
    <% %w(Maison Appartement Garage Terrain Immeuble).each do |item| %>
    <div class="chip"><i class="material-icons"> <%= item %> </i></div>
    <% end %>
  </div>
  <%= f.input :address, label: 'Adresse du bien'%>
  <%= f.input :usage_type, label: 'Bien à usage', input_html: { :class => 'hidden' } %>
  <div>
    <% %w(Habitation Professionelle Mixte).each do |item| %>
    <div class="chip"><i class="material-icons"> <%= item %> </i></div>
    <% end %>
  </div>

  <h4>Propriétaires</h4>
    <%= f.simple_fields_for :owner do |o| %>
      <%= o.input :last_name, label: 'Nom'%>
      <%= o.input :first_name, label: 'Prénom'%>
      <%= o.input :address, label: 'Adresse'%>
      <%= o.input :email, label: 'email'%>
      <%= o.input :phone_number, label: 'Téléphone'%>
    <% end %>
  <%= f.submit 'save' %>
<% end %>


<script>
  const remove_background = (div) => {
    div.querySelectorAll(".material-icons").forEach((el) => {
      el.parentNode.classList.remove("red-background");
    })
  }

  let element

  document.querySelectorAll(".material-icons").forEach((el) => {
    el.addEventListener("click", (ev) => {
      ev.target.parentNode.parentNode.previousElementSibling.querySelector(".form-control").value = ev.target.innerText;
      remove_background(ev.target.parentNode.parentNode);
      ev.target.parentNode.classList.toggle("red-background");
    })
  })
</script>
