<%= simple_form_for [@house] do |f| %>
<h2>Désignation du bien</h2>
  <%= f.input :house_type, label: 'Type de bien'%>
  <%= f.input :address, label: 'Adresse du bien'%>
  <%= f.input :usage_type, label: 'Bien à usage'%>

<h2>Intérieur du bien</h2>
  <%= f.input :nb_rooms, label: 'Nombre de pièces'%>
  <%= f.input :nb_bedrooms, label: 'Chambre'%>
  <%= f.input :nb_livingrooms, label: 'Séjour'%>
  <%= f.input :nb_diningrooms, label: 'Salle de bain à verifier'%>
  <%= f.input :nb_diningrooms, label: 'Cuisine'%>
  <%= f.input :equiped_kitchen, label: 'Cuisine équipée'%>
  <%= f.input :surface_living, label: 'Surface habitable d environ' %>

<h2>Intérieur du bien</h2>
  <%= f.input :created_at, label: 'Année de construction à verifier'%>
  <%= f.input :surface_total, label: 'Surface du terrain'%>
  <%= f.input :nb_balconies, label: 'Terrasse à verifier'%>
  <%= f.input :nb_balconies, label: 'Balcon'%>

<h2>Copropriété</h2>
  <%= f.input :created_at, label: 'Bien en copropriété à verifier'%>
  <%= f.input :surface_total, label: 'Nombre de lots à verifier'%>
  <%= f.input :nb_balconies, label: 'Charges annuelles à verifier'%>
  <%= f.input :nb_balconies, label: 'Procédures en cours à verifier'%>
  <%= f.input :surface_Carrez, label: 'Surface Carrez'%>
  <%= f.input :nb_balconies, label: 'Informations particulières à verifier'%>

<h2>Aspects financiers</h2>
  <%= f.input :created_at, label: 'Charges à verifier'%>
  <%= f.input :surface_total, label: 'Taxe foncière à verifier'%>

<h2>Diagnostique énergétique</h2>
  <%= f.input :dpe_done, label: 'DPE effectué'%>
  <%= f.input :energy_consumption, label: 'Consommation'%>
  <%= f.input :ges_emission, label: 'Emsission GES'%>

<h2>Prix de vente et rémunération</h2>
  <%= f.input :dpe_done, label: 'Prix TTC à verifier avec price cents'%>
  <%= f.input :energy_consumption, label: 'Prix Net Vendeur à verifier'%>
  <%= f.input :ges_emission, label: 'Charges acquereur à verifier'%>
  <%= f.input :ges_emission, label: 'Honoraires TTC à verifier'%>

<h2>Photos</h2>

  <%= f.submit 'save' %>
<% end %>
