<%= simple_form_for [@house] do |f| %>
<h4>Désignation du bien</h4>
  <%= f.input :house_type, label: 'Type de bien'%>
  <%= f.input :address, label: 'Adresse du bien'%>
  <%= f.input :usage_type, label: 'Bien à usage'%>

  <h4>Propriétaires</h4>
    <%= f.simple_fields_for :owner do |o| %>
      <%= o.input :first_name, label: 'Prénom'%>
      <%= o.input :last_name, label: 'Nom'%>
      <%= o.input :address, label: 'Adresse'%>
      <%= o.input :email, label: 'email'%>
      <%= o.input :phone_number, label: 'Téléphone'%>
    <% end %>
  <%= f.submit 'save' %>
<% end %>


