<%= simple_form_for [@house] do |f| %>
  <h4>Désignation du bien</h4>

  <%= f.input :address, label: 'Adresse du bien'%>
  <%= f.input :house_type, label: "Type du bien", collection: %w(Appartement Maison Garage), as: :radio_buttons %>
  <%= f.input :usage_type, label: "Bien à usage", collection: %w(Domestique Profesionel Mixte), as: :radio_buttons %>

  <h4>Propriétaires</h4>
    <%= f.simple_fields_for :owner do |o| %>
      <%= o.input :last_name, label: 'Nom'%>
      <%= o.input :first_name, label: 'Prénom'%>
      <%= o.input :address, label: 'Adresse'%>
      <%= o.input :email, label: 'email'%>
      <%= o.input :phone_number, label: 'Téléphone'%>
    <% end %>
  <%= hidden_field_tag(:form, "1") %>
  <%= f.submit 'Continuer', class: "btn btn-primary"%>
<% end %>
