<%= render 'shared/banner-show' %>
<div class="show-margin">
  <div class="row reset-boot" id="link-historique">
    <div class="col-md-8 col-lg-8">
      <div class="white-back padding-link-show">
        <div class="tab-histo-info text-center">
          <%= link_to "Informations", house_path(anchor: "link-information"), class:"link-show-white"  %>
          <%= link_to "Historique", house_doc_path,  class:"link-show-blue"  %>
        </div>
      </div>
      <div class="container-show">
        <div class="line">
        <% agents = [["https://kitt.lewagon.com/placeholder/users/nicmey","Nico"],
         ["https://kitt.lewagon.com/placeholder/users/mateoDDB","Mateo"],
         ["https://kitt.lewagon.com/placeholder/users/timotte1984","Julien"]
        ] %>
        <% agents.each_with_index do |agent, index| %>
          <div class="p-show-doc">
            <div class="doc-type">
              <p class="">
                <i class="far fa-file-alt"></i>
                <span class="show-doc-name">
                  Visite n°<%= index + 1 %>
                </span>
              </p>
            </div>
            <p>
              <i class="far fa-calendar-alt"></i>
              <span class="show-doc-time">
                Réalisée le : <strong>0<%= (index+1)*2 %> /09/2018</strong>
               par l'agent </span>
               <img class="avatar-large avatar-border" id="avatar-margintop" src=<%= agent[0] %> data-toggle="tooltip" data-placement="bottom" title=<%= agent[1] %>>
            </p>
          </div>
          <% end %>


          <% @documents.each do |document| %>
            <div class="p-show-doc">
              <div class="doc-type">
                <p class="">
                  <i class="far fa-file-alt"></i>
                  <span class="show-doc-name">
                    <%= document.document_type.name %>
                    n°
                    <%= document.id %>
                  </span>
                </p>
              </div>
              <p>
                <i class="far fa-calendar-alt"></i>
                <span class="show-doc-time">
                  Crée le : <%= document.document_type.created_at.strftime("%d/%m/%Y") %>
                </span>
              </p>
              <p>
                <i class="fas fa-pen-square"></i>
                <span class="show-doc-status">
                  À modifier
                </span>
              </p>
              <p>
                <%= document.document_type.data_type_changed %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 content-right">
      <%= render 'shared/document-juridiques' %>
    </div>
  </div>
</div>
