<!-- show.html.erb -->
<div class="container" id="show-house">

  <div class="col-xs-9">

    <div class="row">
      <div class="white-back">
        <h3><i class="fas fa-star"></i>Propriétaire</h3>
        <div class="wrapper">
          <div class="wrapper-inside"><%= @house.owner.first_name %></div>
          <div class="wrapper-inside"><%= @house.owner.last_name %></div>
          <div class="wrapper-inside"><%= @house.owner.email %></div>
          <div class="wrapper-inside"><%= @house.owner.phone_number%></div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="white-back">
        <h3><i class="fas fa-star"></i>Intérieur du bien</h3>
        <div class="wrapper">
          <div class="wrapper-inside">Surface habitable: <%= @house.surface_living%> m2</div>
          <a href="#" data-toggle="tooltip" title="Hooray!">Plus de détails</a>
        </div>
        <div class ="wrapper">
          <div class="wrapper-inside">Pièces: <%= @house.owner.first_name %></div>
          <div class="wrapper-inside">Etages: <%= @house.owner.last_name %></div>
          <div class="wrapper-inside">Chambres: <%= @house.owner.email %></div>
          <div class="wrapper-inside">Séjours: <%= @house.owner.phone_number%></div>
          <div class="wrapper-inside">Salles de bain: <%= @house.owner.phone_number%></div>
          <div class="wrapper-inside">Wc separés: <%= @house.owner.phone_number%></div>
          <div class="wrapper-inside">Cuisine: <%= @house.owner.phone_number%></div>
          <div class="wrapper-inside">Cuisine équipée: <%= @house.owner.phone_number%></div>
        </div>

      </div>
    </div>





  </div>








  <div class="col-xs-3">
    <%= simple_form_for [@house, @document] do |f| %>
      <%= f.association :document_type %>
      <%= f.button :submit %>
    <% end %>
  </div>

</div>








<% @house.address %>
<% @house.description %>
<% @house.house_type %>
<% @house.usage_type %>
<% @house.notary_name %>
<% @house.smoke_detector_presence %>
<% @house.nb_rooms %>
<% @house.nb_bedrooms %>
<% @house.nb_livingrooms %>
<% @house.nb_diningrooms %>
<% @house.nb_bathrooms %>
<% @house.equiped_kitchen %>
<% @house.nb_showers %>
<% @house.nb_bathtubs %>
<% @house.nb_terraces %>
<% @house.nb_balconies %>
<% @house.surface_living %>
<% @house.surface_Carrez %>
<% @house.surface_total %>
<% @house.energy_consumption %>
<% @house.ges_emission%>

