<!-- show.html.erb -->
<div class="container" id="show-house">
  <div class="content-flex">
    <div class="content-left">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#test1">Information</a></li>
            <li class="tab col s3 disabled"><a href="#test2">Historique</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">
          <div class="row">
            <div class="white-back">
              <h3>Propriétaire</h3>
              <div class="wrap">
                <div class="wrap-inside"><%= @house.owner.first_name %></div>
                <div class="wrap-inside"><%= @house.owner.last_name %></div>
                <div class="wrap-inside"><%= @house.owner.email %></div>
                <div class="wrap-inside"><%= @house.owner.phone_number%></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="white-back">
              <h3>Intérieur du bien</h3>
              <div class="wrap">
                <div class="wrap-inside">Total: <%= @house.surface_total%> m2</div>
                <div class="wrap-inside">Habitable: <%= @house.surface_living%> m2</div>
                <div class="wrap-inside">Carrez: <%= @house.surface_Carrez%> m2</div>
              </div>
              <div class ="wrap">
                <div class="wrap-inside"><%= @house.nb_rooms %> pièces</div>
                <div class="wrap-inside"><%= @house.nb_bedrooms %> chambres</div>
                <div class="wrap-inside"><%= @house.nb_livingrooms%> séjours</div>
                <div class="wrap-inside"><%= @house.nb_bathrooms%> salles de bain</div>
                <div class="wrap-inside"><%= @house.equiped_kitchen ? "Cuisine équipée" : "Cuisine non équipée" %></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="white-back">
              <h3>Extérieur du bien</h3>
              <div class="wrap">
                <div class="wrap-inside">Total: <%= @house.surface_total%> m2</div>
                <div class="wrap-inside">Habitable: <%= @house.surface_living%> m2</div>
                <div class="wrap-inside">Carrez: <%= @house.surface_Carrez%> m2</div>
              </div>
              <div class ="wrap">
                <div class="wrap-inside"><%= @house.nb_rooms %> pièces</div>
                <div class="wrap-inside"><%= @house.nb_bedrooms %> chambres</div>
                <div class="wrap-inside"><%= @house.nb_livingrooms%> séjours</div>
                <div class="wrap-inside"><%= @house.nb_bathrooms%> salles de bain</div>
                <div class="wrap-inside"><%= @house.equiped_kitchen ? "Cuisine équipée" : "Cuisine non équipée" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-right">
      <%= render 'shared/document-juridiques' %>
    </div>
  </div>
</div>
