<!-- show.html.erb -->
<div class="container" id="show-house">
  <div class="content-flex">
    <div class="content-left">

      <div class="row">
        <div class="white-back">
          <h3><i class="fas fa-star"></i>Propriétaire</h3>
          <div class="wrap">
            <div class="wrap-inside"><%= @house.owner.first_name %></div>
            <div class="wrap-inside"><%= @house.owner.last_name %></div>
            <div class="wrap-inside"><%= @house.owner.email %></div>
            <div class="wrap-inside"><%= @house.owner.phone_number%></div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="white-back">
          <h3><i class="fas fa-star"></i>Intérieur du bien</h3>
          <div class="wrap">
            <div class="wrap-inside">Total: <%= @house.surface_total%> m2</div>
            <div class="wrap-inside">Habitable: <%= @house.surface_living%> m2</div>
            <div class="wrap-inside">Carrez: <%= @house.surface_Carrez%> m2</div>
          </div>
          <div class ="wrap">
            <div class="wrap-inside"><%= @house.nb_rooms %> pièces</div>
            <div class="wrap-inside"><%= @house.nb_bedrooms %> chambres</div>
            <div class="wrap-inside"><%= @house.nb_livingrooms%> séjours</div>
            <div class="wrap-inside"><%= @house.nb_bathrooms%> salles de bain</div>
            <div class="wrap-inside"><%= @house.equiped_kitchen ? "Cuisine équipée" : "Cuisine non équipée" %></div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="white-back">
          <h3><i class="fas fa-star"></i>Extérieur du bien</h3>
          <div class="wrap">
            <div class="wrap-inside">Total: <%= @house.surface_total%> m2</div>
            <div class="wrap-inside">Habitable: <%= @house.surface_living%> m2</div>
            <div class="wrap-inside">Carrez: <%= @house.surface_Carrez%> m2</div>
          </div>
          <div class ="wrap">
            <div class="wrap-inside"><%= @house.nb_rooms %> pièces</div>
            <div class="wrap-inside"><%= @house.nb_bedrooms %> chambres</div>
            <div class="wrap-inside"><%= @house.nb_livingrooms%> séjours</div>
            <div class="wrap-inside"><%= @house.nb_bathrooms%> salles de bain</div>
            <div class="wrap-inside"><%= @house.equiped_kitchen ? "Cuisine équipée" : "Cuisine non équipée" %></div>
          </div>

        </div>
      </div>
    </div>




  <div class="col-xs-3">
    <%= simple_form_for [@house, @document] do |f| %>
      <%= f.association :document_type %>
      <%= f.button :submit %>
    <% end %>
    <div class="content-right">
      <h3>Document juridiques</h3>
      <ul>
        <% @house.documents.each do |document| %>
          <li>
          <%= link_to "<i class='far fa-file-pdf'></i>".html_safe ,
           house_document_path(@house,document, format: 'pdf') %>
          <%= document.document_type.name %> créé le <%= document.created_at %>
            <p>Status: <%= document.status %> </p>

          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
