<div class="white-back" id="sticky-doc">
  <h3 class="background-blue">Document juridiques</h3>
  <ul>
    <% @house.documents.each do |document| %>
      <li>
      <div class="pdf-link">
        <%= link_to "<i class='far fa-file-pdf fa-2x' data-toggle='tooltip' data-placement='bottom' title='Télécharger'></i>".html_safe,
         document.pdf.url, format: 'pdf', target: "_blank" %>
      </div>
      <div class="doc-descr">
      <p><strong><%= document.document_type.name %></strong></p>
      <p> doc n°<%= document.id %></p>

      </div>
      <div class="pdf-sign">
        <%= link_to "<i class='fas fa-envelope' id='icon-margintop'></i> ".html_safe + "E signature", esign_house_document_path(@house,document), remote: true %>

      </div>
        <div class="loader hidden">
          <span class="loader-inner"></span>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="text-center doc-type-size">
    <%= simple_form_for [@house, @document] do |f| %>
      <%= f.association :document_type, label: "Type de document" %>
      <%= f.button :button, "Créer votre document", class: "btn-primary loading-padding", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
    <% end %>
  </div>
</div>
