<div class="white-back">
  <h3 class="background-blue">Document juridiques</h3>
  <ul>
    <% @house.documents.each do |document| %>
      <li>
      <div class="pdf-link">
        <%= link_to "<i class='far fa-file-pdf fa-2x' data-toggle='tooltip' data-placement='bottom' title='Télécharger'></i>".html_safe ,
         house_document_path(@house,document, format: 'pdf'), target: "_blank" %>
      </div>
      <div class="doc-descr">
      <strong><%= document.document_type.name %></strong> <br> <%= document.created_at.strftime("%d/%m/%Y")%>
      </div>
      <div class="doc-time-status">
        <i class='fas fa-hourglass-half fa-1x icon-green' data-toggle="tooltip" data-placement="bottom" title="3 jours depuis la demande de signature"></i>
      </div>
      <div class="doc-signature-status">
        <% if document.status == "attente signature agent" %>
        <i class='fas fa-pen-fancy fa-1x icon-red ' data-toggle="tooltip" data-placement="bottom" data-html="true" title="signature agent en attente"></i>
        <% else %>
        <% end %>
      </div>
      </li>
    <% end %>
  </ul>
  <div class="text-center">
    <%= simple_form_for [@house, @document] do |f| %>
      <%= f.association :document_type %>
      <%= f.button :submit, value: "Créer votre document"%>
    <% end %>
  </div>
</div>
