<div class="white-back padding-link-show">
  <div class="tab-histo-info text-center">
    <%= link_to "Informations", house_path, class:"link-show-blue"  %>
    <%= link_to "Historique", house_doc_path(anchor: "link-historique"),  class:"link-show-white"  %>
  </div>
</div>

<div class="full-body">
  <div class="white-back z-depth-3">
    <div class="bottom-line">
      <div class="title-icon">
        <i class="fas fa-user fa-2x"></i><h4>Propriétaire</h4>
      </div>
      <div class="wrap">
 <!--        <div class="wrap-name">
          <div class="wrap-inside"><%= @house.owner.first_name %> <%= @house.owner.last_name %>
          </div>
        </div> -->
        <div class="wrap-inside"><b>Prénom :</b> <%= @house.owner.first_name %></div>
        <div class="wrap-inside"><b>Email :</b> <%= @house.owner.last_name %></div>
        <div class="wrap-inside"><b>Email :</b> <%= @house.owner.email %></div>
        <div class="wrap-inside"><b>Tel :</b> <%= @house.owner.phone_number%></div>
      </div>
    </div>
    <div class="title-icon">
      <i class="fas fa-building fa-2x"></i><h4>Copropriété</h4>
    </div>
    <div class="wrap">
      <div class="wrap-inside"><b>Bien en copropriété :</b> Non
        <br>
        <b>Nombre de lots :</b> 30
      </div>
      <div class="wrap-inside"><b>Charges annuelles :</b> 300€
        <br>
        <b>Procédure en cours : </b> Non
      </div>
      <div class="wrap-inside"><b>Surface Carrez :</b> 95 m2
        <br>
        <b>Informations :</b> Belle maison
      </div>
    </div>
  </div>


  <div class="white-back z-depth-3">
    <div class="bottom-line">
      <div class="title-icon">
        <i class="fas fa-home fa-2x"></i><h4>Intérieur du bien</h4>
      </div>
      <div class="wrap">
        <div class="wrap-inside"><b>Total :</b> <%= @house.surface_total%> m2
          <br>
          <b>Habitable :</b> <%= @house.surface_living%> m2
        </div>
        <div class="wrap-inside"><b>Carrez :</b> <%= @house.surface_Carrez%> m2
          <br>
          <b>Pièces :</b> <%= @house.nb_rooms %>
        </div>
        <div class="wrap-inside"><b>Chambre(s) :</b> <%= @house.nb_bedrooms %>
          <br>
          <b>Séjour(s) :</b> <%= @house.nb_livingrooms%>
        </div>
        <div class="wrap-inside"><b>Salle(s) de bain :</b> 1
          <br>
          <b>Cuisine :</b> <%= @house.equiped_kitchen ? "équipée" : "non équipée" %>
        </div>
      </div>
     </div>
      <div class="title-icon">
        <i class="fas fa-leaf fa-2x"></i><h4>Extérieur du bien</h4>
      </div>
      <div class="wrap">
        <div class="wrap-inside"><b>Année de construction :</b> 1990
          <br>
          <b>Terrasse :</b> 20 m2
        </div>

        <div class="wrap-inside"><b>Balcon :</b> 20 m2
          <br>
          <b>Surface du terrain :</b> 100 m2
        </div>
      </div>
    </div>

  <div class="white-back z-depth-3">
    <div class="title-icon">
      <i class="fas fa-burn fa-2x"></i><h4>Diagnostic énergétique</h4>
    </div>
    <div class="wrap">
      <div class="wrap-inside"><b>DPE effectué :</b> oui</div>
      <div class="wrap-inside"><b>Consommation :</b> 574 Kwh/m2/an</div>
      <div class="wrap-inside"><b>Emission GES :</b> 7kg co2/m2/an</div>
    </div>
   </div>

  <div class="white-back z-depth-3">
    <div class="bottom-line">
      <div class="title-icon">
        <i class="fas fa-bolt fa-2x"></i><h4>Charges & dépenses</h4>
      </div>
      <div class="wrap">
        <div class="wrap-inside"><b>Charges(éléctricité + eau) :</b> 120€/mois</div>
        <div class="wrap-inside"><b>Taxe foncière :</b> 480€/an</div>
      </div>
    </div>

    <div class="title-icon">
      <i class="fas fa-euro-sign fa-2x"></i><h4>Prix de vente et rémunération</h4>
    </div>
    <div class="wrap">
      <div class="wrap-inside"><b>Prix TTC:</b> <%= humanized_money_with_symbol(@house.price) %>€
        <br>
        <b>Prix net vendeur :</b> <%= humanized_money_with_symbol(@house.net_price_seller) %>€</div>
      <div class="wrap-inside"><b>Charges :</b> acquereur
        <br>
        <b>Honnoraires TTC :</b> <%= humanized_money_with_symbol(@house.agence_fee) %>€
      </div>
    </div>
  </div>
</div>
