<div class="row margin-list">
  <div class="main-container">
    <div class="title-search-bar col-sm-8">
      <div class="logo-and-search-bar z-depth-2 fa-2x" id="navbar-fixed">
        <div class="flex-btn-search-bar">
          <div class="logo-search-bar">
            <i class="fas fa-search"></i>
          </div>
          <div class="search-bar-houses">
            <%= form_tag houses_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                placeholder: "Adresse et / ou Proprietaire" %>
            <% end %>
          </div>
        </div>
        <div class="btn-search-bar">
          <%= link_to "Créer un bien", new_house_path, class:"btn-base" %>
        </div>
      </div>
      <% @houses.each do |house| %>
        <%= link_to house_path(house), class:"message-hover" do %>
          <div class="message z-depth-3" data-house-id="<%= house.id %>">
            <div class="message-name">
              <h5><%= house.address.gsub(", France", "") %></h5>
              <p>
                Propriétaire :
                <strong><%= house.owner.first_name %> <%= house.owner.last_name %></strong>
              </p>
            </div>
            <div class="message-status">
              <p><strong><%= house.surface_living.to_i %> m<sup>2</sup></strong></p>
            </div>
            <div class="message-type">
               <% if house.exclusive %>
                  <i class="fas fa-star fa-2x iconcog" data-toggle="tooltip" data-placement="bottom" title="exclusive"></i>
               <% else %>
               <% end %>
            </div>
            <div class="message-signature-attente ">
              <% agents = ["https://kitt.lewagon.com/placeholder/users/CharlesGTY",
                           "https://kitt.lewagon.com/placeholder/users/nicmey",
                           "https://kitt.lewagon.com/placeholder/users/mateoDDB",
                           "https://kitt.lewagon.com/placeholder/users/timotte1984"
                          ] %>
              <% case house.user.first_name %>
              <% when "Julien" then %>
               <p> agent ref. <%= image_tag agents[3], class: "avatar-large" %></p>
              <% when "Charles" then  %>
                <p> agent ref.<%= image_tag agents[0], class: "avatar-large" %></p>
              <% when "Mateo" then %>
                <p> agent ref.<%= image_tag agents[2], class: "avatar-large" %></p>
              <% when "Nico" then %>
                <p> agent ref.<%= image_tag agents[1], class: "avatar-large" %> </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="map-index">
        <div id="mapid" data-markers=" <%= @markers.to_json %>"></div>
      </div>
    </div>
  </div>
</div>


