<!-- <div class="row ">
<div class= "z-depth-1 text-center">
    <div class="col-sm-4 col-xs-12" >
      <p class="titre-activites"> Activité 2018 </p>
    </div>
    <div class="col-sm-4 col-xs-12" >
      <p class="index-name"> Ventes </p>
      <p class="index-numb"> 56 </p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <p class="index-name"> Avis de valeurs</p>
      <p class="index-numb"> 85 </p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <p class="index-name">Visites</p>
      <p class="index-numb">345</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <p class="index-name">Mandats dénoncés </p>
      <p class="index-numb"> 20 </p>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-3 col-xs-12">
    <div class="filter-card z-depth-1">
      <%= link_to houses_path do %>
      <p> Biens à la vente</p><p><span class="index-numb"> <%= House.count %> </span> </p>
      <% end %>
   </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="filter-card z-depth-1">
      <%= link_to houses_path(exclusive: true) do %>
      <p> Biens exclusifs</p><p><span class="index-numb">
        <%= House.where(exclusive: true).count %>
        </span> </p>
        <% end %>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="filter-card z-depth-1">
      <%= link_to "", houses_path %>
      <p> Dossiers incomplets</p><p><span class="index-numb">
        <%= House.all.reject {|h| (Document.all.map{|d| d.house_id}).uniq.include?(h.id)}.count %>
      </span> </p>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="filter-card z-depth-1">
      <%= link_to "", houses_path %>
      <p> Signatures en attente</p><p><span class="index-numb">
      <%= Document.all.select {|d| d.docusign_envelope_id != "0"}.count %>
       </span> </p>
    </div>
  </div>
</div>







