

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url('banner-home-02.jpg') %>);">
  <div class="banner-content">
    <h1>START IMMO</h1>
    <p>Gérez vos transactions immobilières en ligne</p>

    <% if current_user %>
      <%= link_to "Tester la solution", houses_path , class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Tester la solution", user_session_path , class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<div class="container-values">
  <div class="row">
    <div class="text-center">
      <h3>Gérez vos transactions immobilières en ligne</h3>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-list">
        <div class="card-category">
          <div class="text-white circle-green">
            <i class="fas fa-file-contract"></i>
          </div>
        </div>
        <div class="card-description">
          <h2>Vos documents en 1 clics</h2>
        </div>
        <div class="card-phrase">
          <p>Générer tous les documents juridiques nécéssaire à une transaction immobilière</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-list">
        <div class="card-category">
          <div class="text-white circle-green">
            <i class="far fa-check-circle"></i>
          </div>
        </div>
        <div class="card-description">
          <h2>Sécurisez vos commissions</h2>
        </div>
        <div class="card-phrase">
          <p>Utilisez des documents à jours et un parcours de complétude pour éviter les erreurs</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-list">
        <div class="card-category">
          <div class="text-white circle-green">
            <i class="fas fa-chart-line"></i>
          </div>
        </div>
        <div class="card-description">
          <h2>Validez d'avantages de mandats</h2>
        </div>
        <div class="card-phrase">
          <p>Accelerez vos ventes en partageant rapidement les nouveaux biens disponibles</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container small-banner">
  <div class="row">
    <div class="col-12 col-md-6 col-md-offset-3">
      <div class="card-subheader">
        <h4>Les avantages Start-Immo</h4>
      </div>
    </div>
  </div>
</div>


<div class="container daddy-container">
  <div class="row">
    <div class="col-md-6 image-element">
      <div class="card-sub" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('slider-6.jpg') %>);">
      </div>
    </div>
    <div class="col-md-6 text-element">
      <div class="text-content">
      <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Vos documents juridiques en 1 clic</h2>
        <div class="mbr-section-text">
        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
        La génération de vos documents juridiques n'a jamais été aussi simple ! Libérez votre agence des contraintes administratives liées à la génération de mandats de vente, mandats de recherche, avenants, compromis...&nbsp;Personnalisez facilement vos mandats pour répondre aux besoins de vos clients.</p>
        </div>
        <div class="mbr-section-btn pt-3 align-left"><a class="btn btn-md btn-info display-4" href="https://mobirise.com">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container white-row">
  <div class="row">
    <div class="col-md-6 text-element">
      <div class="text-content">
      <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Sécurisez votre commission</h2>
        <div class="mbr-section-text">
        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
        Remplissez vos mandats en ligne et évitez les erreurs. Start-Immo vous propose un parcours de complétude et vous permet de valider uniquement les documents en conformité avec la réglementation.</p>
        </div>
        <div class="mbr-section-btn pt-3 align-left"><a class="btn btn-md btn-info display-4" href="https://mobirise.com">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 image-element">
      <div class="card-sub" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('secure-commission.jpg') %>);">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 image-element">
      <div class="card-sub" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('more-sales.jpg') %>);">
      </div>
    </div>
    <div class="col-md-6 text-element">
      <div class="text-content">
      <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Augmenter votre nombre de mandats</h2>
        <div class="mbr-section-text">
        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
        Maîtriser les nouvelles entrées de mandats et maîtrisez vous couts. La gestion en ligne de vos documents juridique favorise les échanges entre agents commerciaux et permet de d'accélérer les ventes.</p>
        </div>
        <div class="mbr-section-btn pt-3 align-left"><a class="btn btn-md btn-info display-4" href="https://mobirise.com">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="banner-bottom" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url('test.jpg') %>);">
  <div class="banner-content">
    <h3>Vous êtes professionnel de l'immobilier</h3>
    <a class="btn btn-primary btn-lg">Contactez-nous</a>
  </div>
</div>




