

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url('banner-home-02.jpg') %>);">
  <div class="banner-content">
    <h1>START IMMO</h1>
    <p>Gérer vos transactions immobilières en ligne</p>

    <% if current_user %>
      <%= link_to "Tester la solution", houses_path , class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Tester la solution", user_session_path , class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<div class="container-values">
  <div class="row">
      <h3>Gérer vos transactions immobilières en ligne</h3>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-values">
        <i class="fas fa-file-contract fa-2x icon-g"></i>
        <h5>Vos documents en 2 clics</h5>
        <p>Générer tous les documents juridiques nécéssaires à une transaction immobilière</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-values">
        <i class="far fa-check-circle fa-2x icon-g"></i>
        <h5>Sécurisez vos commissions</h5>
        <p>Générer en 2 clics les documents juridiques nécéssaire à une transaction</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-values">
        <i class="fas fa-chart-line fa-2x icon-g"></i>
        <h5>Validez d'avantages de mandats</h5>
        <p>Générer tous les documents juridiques</p>
      </div>
    </div>
  </div>
</div>


<div class="container small-banner">
  <div class="row">
    <div class="col-12 col-md-6 col-md-offset-3">
      <div class="card-subheader">
        <h4>Les avantages Start-Immo</h4>
      </div>
    </div>
  </div>
</div>


<div class="container daddy-container">
  <div class="row">
    <div class="col-md-6 image-element">
      <div class="card-sub" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('slider-6.jpg') %>);">
      </div>
    </div>
    <div class="col-md-6 text-element">
      <div class="text-content">
      <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Vos documents juridiques en 1 clic</h2>
        <div class="mbr-section-text">
        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
        As a missional Cafe focused on lasting options to poverty, we turn profits into hope.&nbsp;We do this by creating a product you love, serving you with a smile, as well as offering all of our profits to individuals in need.</p>
        </div>
        <div class="mbr-section-btn pt-3 align-left"><a class="btn btn-md btn-info display-4" href="https://mobirise.com">View More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container white-row">
  <div class="row">
    <div class="col-md-6 text-element">
      <div class="text-content">
      <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Sécuriser votre commission</h2>
        <div class="mbr-section-text">
        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
        As a missional Cafe focused on lasting options to poverty, we turn profits into hope.&nbsp;We do this by creating a product you love, serving you with a smile, as well as offering all of our profits to individuals in need.</p>
        </div>
        <div class="mbr-section-btn pt-3 align-left"><a class="btn btn-md btn-info display-4" href="https://mobirise.com">View More</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 image-element">
      <div class="card-sub" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('secure-commission.jpg') %>);">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 image-element">
      <div class="card-sub" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('more-sales.jpg') %>);">
      </div>
    </div>
    <div class="col-md-6 text-element">
      <div class="text-content">
      <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Augmenter votre nombre de mandats</h2>
        <div class="mbr-section-text">
        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
        As a missional Cafe focused on lasting options to poverty, we turn profits into hope.&nbsp;We do this by creating a product you love, serving you with a smile, as well as offering all of our profits to individuals in need.</p>
        </div>
        <div class="mbr-section-btn pt-3 align-left"><a class="btn btn-md btn-info display-4" href="https://mobirise.com">View More</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="banner-bottom" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url('test.jpg') %>);">
  <div class="banner-content">
    <h3>Vous êtes professionnel de l'immobilier</h3>
    <a class="btn btn-primary btn-lg">Contactez-nous</a>
  </div>
</div>




