<div class="content">
<h1 class="text-center big-text"> MANDAT DE VENTE SIMPLE HORS ÉTABLISSEMENT </h1>
<h1 class="text-center"><strong>(SANS EXCLUSIVITE)</strong></h1>
<h2 class="text-center">En application des articles 6 de la loi N°70-9 du 2 janvier 1970 et
articles 72 et suivants du décret n°72-678 du 20 juillet 1972</h2>
<h2 class="text-center">(RÉMUNÉRATION À LA CHARGE DE "OPTION") </h2>

<h2 class="text-center"> NUMÉRO DE MANDAT : <span class="data"> <%= @document.id %> </span></h2>

<br/>
<br/>
<br/>

<h1 class="signature"> Signature du mandataire <%= @document.house.user.first_name %> <%= @document.house.user.last_name %> </h1></h1>
<h1 class="to_hide"> Mandataireeee</h1>

<br/>
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/><h1 class="signature"> Signature du propriétaire  <%= @document.house.owner.first_name %> <%= @document.house.owner.last_name %> </h1>
<h1 class="to_hide"> Proprietaireeee</h1>
<br/><br/>
<br/>
<br/>
<br/><br/>
<br/>
<h1>Identification du mandataire : </h1>

<ul>
  <li> <h2> Dénomination sociale : <span class="data"> <%= @agence[:social_denomination] %> </span></h2></li>
  <li><h2> Forme Juridique (SARL / SAS / EI …) : <span class="data"><%= @agence[:juridic_form] %> </span></h2></li>
  <li><h2> Au "capital social" de : <span class="data"> <%= @agence[:social_capital] %> </span> € </h2></li>
  <li><h2>Sous "l'enseigne" : <span class="data"> <%= @agence[:enseigne_name] %> </span></h2></li>
  <li><h2>Dont le siège social est situé à l'adresse : <span class="data"> <%= @agence[:address] %> <%= @agence[:city] %>  </span></h2></h2></li>
  <li><h2>Immatriculé sous le numéro SIREN : <span class="data"> <%= @agence[:siren_number] %> </span></h2></li>
  <li><h2>Au RCS de "VILLE"</h2></li>
</ul>
<br/>
<h2>Représenté par <span class="data"> <%= @agence[:director_first_name] %> <%= @agence[:director_last_name] %></span> en sa qualité de "DIRIGEANT", dument habilité à l'effet des présentes.</h2>
<ul>
  <li><h2>Numéro individuel d'indentification à la TVA : <span class="data"> <%= @agence[:vat_number] %> </span></h2></li>

  <li><h2>Titulaire de la carte professionnelle numéro <span class="data"> <%= @agence[:director_card_number] %> </span></h2></li>
  <li><h2>Délivrée le : <span class="data"> <%= @agence[:director_card_date] %> </span> par la chambre de commerce et de l'industrie de <span class="data"> <%= @agence[:director_card_city] %> </span></h2></li>

  <li><h2>Adhérent de la fédération "NOM DE LA FÉDÉRATION" (OPTIONNEL)</h2></li>

  <li><h2>Titulaire d'une carte professionnelle portant la mention "<span class="data"> <%= @agence[:professional_card_mention] %> </span>" et d'un titre professionnel d'agent immobilier obtenu en France dont l'activité est régie par la loi n° 70-9 du 2 janvier 1970 (dite « loi Hoguet ») et son décret d'application n° 72678 du 20 juillet 1972.</h2></li>

  <li><h2>Garanti par "ORGANISME FINANCIER" situé au "ADRESSE" pour un montant de "MONTANT" pour les activités de "ACTIVITÉS", contrat couvrant la zone géographique suivante : "ZONE GÉOGRAPHIQUE". Titulaire du compte spécial
(article 55 du décret de 20 juillet 1972) n° "NUMÉRO" en "ACTIVITÉ" ouvert auprés de "BANQUE". (OPTIONNEL).</h2></li>
</ul>

OU

<li><h2>Le professionnel prestataire déclare sur l'honneur ne recevoir aucun fonds, effet ou valeur autre que ceux représentatifs de sa rémunération ou commission. </h2></li>

<li><h2> Titulaire d'une assurance en responsabilité civile professionnelle auprès de <span class="data"> <%= @agence[:civil_respons_insurance_name] %> </span> situé au <span class="data"> <%= @agence[:civil_respons_insurance_address] %> </span> sous le numéro de police <span class="data"> <%= @agence[:civil_respons_police_number] %> </span>, couvrant la zone géographique suivante : <span class="data"> <%= @agence[:civil_respons_police_geo_zone] %> </span>. </h2></li>
<br/>

<h2><span class="data"> <%= @user[:first_name] %> <%= @user[:last_name] %> </span>,
titulaire de l'attestation de collaborateur numéro <span class="data"> <%= @user[:attes_collab_number] %> </span>
Délivrée le <span class="data"> <%= @user[:attes_collab_number_date] %> </span> par la chambre de commerce et de l'industrie de <span class="data"> <%= @user[:attes_collab_number_city] %> </span> </h2>
<ul>
    <li><h2> Téléphone de l'agence : <span class="data"> <%= @agence[:phone_number] %> </span> </h2></li>

    <li><h2>Fax de l'agence : <span class="data"> <%= @agence[:fax] %> </span>  </h2></li>

    <li><h2> E-mail de l'agence : <span class="data"> <%= @agence[:email] %> </span>  </h2></li>
</ul>
  <br/>


-------------------------------------------------------------------</p>

<h1>Identification du (des) mandant (s) :</h1>

<h2>Nous soussignés :</h2>

<% if @owner[:is_business] %>

  <li><h2> Nom de la société : <span class="data"> <%= @owner[:company_name] %>  </span></h2></li>
  <li><h2> SIRET : <span class="data"> <%= @owner[:siret_number] %> </span></h2></li>
  <li><h2> RCS : <span class="data"> <%= @owner[:rcs_number] %> </span></h2></li>
  <li><h2> Siège social : <span class="data"> <%= @owner[:hq_address] %> </span></h2></li>
  <li><h2> Réprésentant : <span class="data"><%= @owner[:last_name] %><%= @owner[:first_name] %></span></h2></li>
  <li><h2> Né (e) le : <span class="data"><%= @owner[:birth_date] %></span></h2></li>
  <li><h2> À : <span class="data"><%= @owner[:birth_place] %></span></h2></li>
  <li><h2> Adresse : <span class="data"><%= @owner[:address] %></span></h2></li>

<% else %>

<uL>
  <li><h2>  Mandant N°1 : </h2></li>
  <li><h2>  Nom : <span class="data"><%= @owner[:last_name] %></span></h2></li>
  <li><h2>  Prénom : <span class="data"> <%= @owner[:first_name] %></span></h2></li>
  <li><h2> Tél : <span class="data"><%= @owner[:phone_number] %> </span></h2></li>
</h2>
*  (vous avez la possibilité de vous inscrire sur www.bloctel.gouv.fr pour vous opposer à tout démarchage téléphonique conformément à l'article L223-1 du Code de la Consommation).
  <li><h2> E-mail : <span class="data"> <%= @owner[:email] %></span></h2></li>
  <li><h2> Adresse : <span class="data"> <%= @owner[:address] %>  </span></h2></li>
<br/>
  <li><h2> Mandant N°2 :</h2></li>

  <li><h2> Nom :</h2></li>
  <li><h2> Prénom :</h2></li>
  <li><h2> Tél* :</h2></li>
*  (vous avez la possibilité de vous inscrire sur www.bloctel.gouv.fr pour vous opposer à tout démarchage téléphonique conformément à l'article L223-1 du Code de la Consommation).
  <li><h2> E-mail :</h2></li>
  <li><h2> Adresse :</h2></li>

<% end %>
